dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
TAGS
cabal.project.local~
.HTF/
.ghc.environment.*
client/src/TestRunnerApi.elm
client/elm-stuff/
client/tests/elm-stuff/
client/tests.js
assets/index.html
